*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	background-color: rgb(29, 29, 29);
}

body{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes blur{
	from {
        filter: blur(10px);
    }
    
    to {
        filter: blur(0);
    }
}

.danger{
	background-image: url(images/danger.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 400px;
	height: 400px;
	animation: blur 3s both ease-in;
}


