*{
	margin: 600px 0 3000px 0 ;
	padding: 0;
}

html{
	height: 100%;
	background-image: url(images/noise.png);
}

body{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#wear{
	background-image: url(images/wear.png);
	z-index: 2;
	position: fixed;
	height: 800px;
	width: 800px;
	background-position: center;
	margin-top: 1800px;
	margin-right: 60px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#hair{
	background-image: url(images/hair.png);
	z-index: 2;
	position: fixed;
	height: 1000px;
	width: 1000px;
	background-position: center;
	margin-top: 700px;
}
*/
#kao00{
	background-image: url(images/kao000.png);
	width: 0;
	height: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	position: fixed;
	opacity: 1;
	z-index: 1;
}

#kao01{
	background-image: url(images/kao01.png);
	width: 0;
	height: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	position: fixed;
	opacity: 1;
	z-index: 0;
}
